
<div class="backgroundImage">
    <h1 class="textHeader">Latest on Xbox Game Pass</h1>
    <div class="card mb-3 position-absolute card-background card-dimensions">
        <div class="row h-9">
          <div class="col-md-4">
            <img src="./assets/96884_Madden_NFL_22.jpg" class="img-fluid rounded-start" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title titleText">Madden NFL 22<small class="text-muted"></small></h5>
              <p class="card-text text">Main Story   <span class="accurate">19</span></p>
              <p class="card-text text">Main + Extra  <span class="accurate">22</span></p>
              <p class="card-text text">Completionist  <span class="accurate">23</span></p>
            </div>
          </div>
        </div>
       </div>
</div>