<fm-main-segment>Loading...</fm-main-segment>
<fm-number-updater>Loading...</fm-number-updater>
<div class ="container-fluid">
<div class="row">
    <div *ngFor = "let game of games" class="col-5">
        <fm-cardcomponent img={{game.img}}
        name={{game.name}} year={{game.year}} main={{game.main}}
        mex={{game.mex}} comp={{game.comp}}>Loading...</fm-cardcomponent>
        </div>
        </div>
        </div>
        <fm-searchbar>Loading...</fm-searchbar>
        <fm-game-pass>Loading...</fm-game-pass>
        <fm-example>Loading...</fm-example>
        <fm-mobileViewExample>Loading...</fm-mobileViewExample>