<div class="backgroundMain">
<h1 class="textHeader">HowLongToBeat<sup>TM</sup></h1>
<h2 class="textAdd">Track what you're playing, discover new games.</h2>
<li class ="textMain">Catalog your gaming collection.</li>
<li class ="textMain">Import and conquer your Steam games.</li>
<li class ="textMain">See if a potential game purchase is worth your hard earned money.</li>
<li class ="textMain">Find out just how long that backlog will take to complete.</li>
<li class ="textMain">Estimate how much longer your current game will last.</li>
<li class ="textMain">Compare your game times to other players.</li>
<button type="button" class="btn btn-primary firstBtn">Join Our Community!</button> <button type="button" class="btn btn-primary secondBtn">Log In</button>
</div>