<div class="box">
    <h1 class="textHeaderDesign">New in the Last 48 Hours</h1>
    <p class="textBodyDesign">1 Game(s) Added &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7.3K Game(s) Updated &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 341 New Users &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 11.1K New Backlogs &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5.6K Games Completed  </p>
    <p class="textBodyDesign">2 New Discussion(s) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 44 New Post(s)</p>
  </div>
 <div class="cardBox">
   <h2 class="textAdd">Popular Games</h2>
 </div>