
<div class="card mb-3 position-relative top-50 start-50 translate-middle-x card-background card-dimensions">
    <div class="row h-0">
      <div class="col-md-4">
        <img src="assets/god-of-war-pc-game-steam-cover.jpg" class="img-fluid rounded-start" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title titleText">God of War <small class="text-muted">(2018)</small></h5>
          <p class="card-text text">Main Story  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <span class="accurate">20.5 Hours</span></p>
          <p class="card-text text">Main + Extra  &nbsp; &nbsp; &nbsp; &nbsp;<span class="accurate">32.5.5 Hours</span></p>
          <p class="card-text text">Completionist  &nbsp; &nbsp; &nbsp; <span class="accurate">51.5 Hours</span></p>
        </div>
      </div>
    </div>
