
<html>
<head>
<style>

</style>
</head>
<body>

<div class="box">
  <p class="firstcolumn howLongToBeat" float:left >HowLongToBeat </p>
<ul>
  <li  float:left><a href="#contactus">Contact Us</a></li>
  <li float:left><a href="#codeofconduct">Code of Conduct</a></li>
  <li float:left><a href="#privacypolicy">Privacy Policy</a></li>

</ul>

<p class="social">Social</p>
<ul>
<li class="discord"><a href="#discord">Discord</a></li>
  <li class="facebook"><a href="#facebook">Facebook</a></li>
  <li class="twitter"><a href="#twitter"><p>Twitter</p></a></li>
  </ul>
</div>

</body>
</html>
