
<html>
<head>
<style>

</style>
</head>
<body>

<div class="box position-absolute top- start-50 translate-middle">
  <p class="firstcolumn" float:left >HowLongToBeat</p>
<p class="right social">Social</p>
<ul>
  <li class="contact" float:left><a href="#contactus">Contact Us</a></li>
  <li class="code" float:left><a href="#codeofconduct">Code of Conduct</a></li>
  <li class="privacy" float:left><a href="#privacypolicy">Privacy Policy</a></li>
  <li class="right discord"><a href="#discord">Discord</a></li>
  <li class="right facebook"><a href="#facebook">Facebook</a></li>
  <li class="right twitter"><a href="#twitter"><p>Twitter</p></a></li>

</ul>
</div>

</body>
</html>
