<html>

<head>
  <style>
  </style>
</head>

<body>

  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img class="logo" src="assets/tdnd53zT_400x400.png" height="60" width="60">
      </a>
      <div id="searchbar">
      <form class="d-flex">
        <input class="form-control me-2 searchborder searchbarlook" type="search" placeholder="Search Your Favorite Games..."
          aria-label="Search Your Favorite Games...">
      </form>
    </div>
      <ul>
        <div id="forum">
        <li class="font"><a class="active" href="#forum">Forum</a></li>
      </div>
      <div id="stats">
        <li class="font"><a href="#stats">Stats</a></li>
      </div>
      <div id="submit">
        <li class="font"><a href="#submit">Submit</a></li>
        </div>
        <div id="login">
        <li class="right font"><a href="#login"> Login</a></li>
      </div>
      <div id="join">
        <li class="right font"><a href="#join">Join</a></li>
      </div>
      </ul>
    </div>
  </nav>

</body>

</html>